body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
}
.header{
    background-color: #298390;
    padding:  0 15px ;
    margin: 10px 0;
    color: white;
    width: 100%;
    text-align: center;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 1200px;
    margin: 20px;
}
.content{
    padding: 20px;
    border: 2px solid #666;
    margin: 10px 0;
    text-align: center;
    width: 100%;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
img{
    max-width: 100%;
    height: auto;
}
.footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0 10px ;
    width: 100%;
}

@media(max-width : 600px){
    .content{
        font-size: 14px;
    }
}
@media (min-width: 601px) and (max-width: 900px){
    .content{
        font-size: 16px;
    }
}
@media (min-width: 901px){
    .content{
        font-size: 18px;
    }
}