body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #293743;
}
.header{
    background-color: #123456;
    color: white;
    padding: 0 15px ;
    text-align: center;
    width: 98%;
}
.main{
    width: 90%;
    margin: 20px 0;
    position: relative;
}
section{
    padding: 20px;
    margin: 10px 0;
    color: #fff;
}
.footer{
    background-color: #123456;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 98.7%;
}

.box{
    width: 200px;
    height: 200px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #234567;
}
.static-box{
    background-color: #239439;
    position: static;
}
.relative-box{
    background-color: #192090;
    position: relative;
    left: 150px;
    z-index: 1;
}
.absolute-box{
    background-color: #801283;
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: 3;
}
.fixed-box{
    background-color: #030934;
    position: fixed;
    bottom: 220px;
    z-index: 2;
}
