body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
}
.header{
    background-color: #123456;
    color: white;
    padding: 0 15px ;
    text-align: center;
    width: 98%;
}
.main{
    width: 90%;
    margin: 20px 0;
    padding: 20px;
    position: relative;
}
section{
    padding: 20px;
    margin: 10px 0;
    background-color: #293743;
    color: #fff;
    border: 3px solid darkgoldenrod;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.footer{
    background-color: #123456;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 98.7%;
}

@keyframes colorChange{
    0% {background-color: #293743;}
    50% {background-color: #234566;}
    100% {background-color: #345678;}
}
@keyframes move{
    0%{transform: translateX(0);}
    50%{transform: translateX(100px);}
    100%{transform: translateX(0);}
}
@keyframes scale{
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
}
@keyframes rotate{
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

.color-box{
    width: 200px;
    height: 100px;
    text-align: center;
    animation: colorChange 3s ease-in-out infinite;
}
.move-box{
    width: 200px;
    height: 100px;
    background-color: #456789;
    text-align: center;
    animation: move 4s linear infinite;
}
.scale-box{
    width: 200px;
    height: 100px;
    background-color: cadetblue;
    text-align: center;
    animation: scale 4s ease-in-out infinite;
}
.rotate-box{
    width: 200px;
    height: 100px;
    background-color: darkcyan;
    text-align: center;
    animation: rotate 5s ease-in-out infinite;
}