body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
}
.header{
    background-color: #123456;
    color: white;
    padding: 0 15px ;
    text-align: center;
    width: 98%;
}
.main{
    width: 90%;
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 10px 0;
    background-color: #293743;
    color: #fff;
    border: 3px solid darkgoldenrod;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.footer{
    background-color: #123456;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 98.7%;
}

.hover-button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.hover-button:hover{
    background-color: #984970;
    color: white;
}
.active-button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.active-button:hover{
    background-color: #837497;
    color: #fff;
}
.focus-input{
    padding: 10px;
    font-size: 16px;
    border: 2px solid red;
    margin: 10px 0;
}
.focus-input:focus{
    border-color: green;
    outline: none;
}
.nth-child-list{
    list-style: none;
    padding: 0;
}
.nth-child-list li {
    padding: 10px;
    border: 2px solid white;
    margin: 5px 0;
}
.nth-child-list li:nth-child(odd) {
    background-color: #304489;
}

.before-after{
    position: relative;
    padding: 20px;
    border: 2px solid whitesmoke;
    margin: 20px 0;
}
.before-after::before{
    content: "Before ";
    color:#209927;
    font-weight: bold;
}
.before-after::after{
    content: " After";
    color: red;
    font-weight: bold;
}