body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: honeydew;
}

section{
    padding: 20px;
}

#about{
    background-color: #f39c12; /*solid color background*/
    color: white;
}

#hobbies{
    background: linear-gradient(skyblue,blue);
    color: white;

}

#links{
    background-image: url('pexels-padrinan-255379.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

header{
    background-image: url('toppng.com-enter-image-description-here-brown-and-white-chess-board-472x472.png');
    background-repeat:repeat-x;
    background-position: center;
}